# SPDX-FileCopyrightText: Copyright (c) 2024-2026 Zerocracy
# SPDX-License-Identifier: MIT

*.gem
.bundle/
.claude/
.DS_Store
.idea/
.yardoc/
BazaRb-Zerocracy.json
coverage/
doc/
log/
node_modules/
rdoc/
target/
vendor/
